# Talktorial 1

# Compound data acquisition (ChEMBL)

#### Developed in the CADD seminars 2017 and 2018, AG Volkamer, Charité/FU Berlin 

Paula Junge and Svetlana Leng

## Aim of this talktorial

We learn how to extract data from ChEMBL:

* Find ligands which were tested on a certain target
* Filter by available bioactivity data
* Calculate pIC50 values
* Merge dataframes and draw extracted molecules

## Learning goals


### Theory

* ChEMBL database
    * ChEMBL web services
    * ChEMBL webresource client
* Compound activity measures
    * IC50
    * pIC50

### Practical
    
Goal: Get list of compounds with bioactivity data for a given target

* Connect to ChEMBL database
* Get target data (EGFR kinase)
* Bioactivity data
    * Download and filter bioactivities
    * Clean and convert
* Compound data
    * Get list of compounds
    * Prepare output data
* Output
    * Draw molecules with highest pIC50
    * Write output file


## References

* ChEMBL bioactivity database (https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5210557/)
* ChEMBL web services: <i>Nucleic Acids Res.</i> (2015), <b>43</b>, 612-620 (https://academic.oup.com/nar/article/43/W1/W612/2467881) 
* ChEMBL webrescource client GitHub (https://github.com/chembl/chembl_webresource_client)
* myChEMBL webservices version 2.x (https://github.com/chembl/mychembl/blob/master/ipython_notebooks/09_myChEMBL_web_services.ipynb)
* ChEMBL web-interface (https://www.ebi.ac.uk/chembl/)
* EBI-RDF platform (https://www.ncbi.nlm.nih.gov/pubmed/24413672)
* IC50 and pIC50 (https://en.wikipedia.org/wiki/IC50)
* UniProt website (https://www.uniprot.org/)

_____________________________________________________________________________________________________________________


## Theory

### ChEMBL database

* Open large-scale bioactivity database
* **Current data content (as of 10.2018):**
    * \>1.8 million distinct compound structures
    * \>15 million activity values from 1 million assays
    * Assays are mapped to ∼12 000 targets
* **Data sources** include scientific literature, PubChem bioassays, Drugs for Neglected Diseases Initiative (DNDi), BindingDB database, ...
* ChEMBL data can be accessed via a [web-interface](https://www.ebi.ac.uk/chembl/), the [EBI-RDF platform](https://www.ncbi.nlm.nih.gov/pubmed/24413672) and the [ChEMBL web services](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4489243/#B5)
 
    
#### ChEMBL web services

* RESTful web service
* ChEMBL web service version 2.x resource schema: 

[![ChEMBL web service schema](images/chembl_webservices_schema_diagram.jpg)](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4489243/figure/F2/)

*Figure 1:* 
"ChEMBL web service schema diagram. The oval shapes represent ChEMBL web service resources and the line between two resources indicates that they share a common attribute. The arrow direction shows where the primary information about a resource type can be found. A dashed line indicates the relationship between two resources behaves differently. For example, the `Image` resource provides a graphical based representation of a `Molecule`."
Figure and description taken from: [<i>Nucleic Acids Res.</i> (2015), <b>43</b>, 612-620](https://academic.oup.com/nar/article/43/W1/W612/2467881).


#### ChEMBL webresource client

* Python client library for accessing ChEMBL data
* Handles interaction with the HTTPS protocol
* Lazy evaluation of results -> reduced number of network requests

### Compound activity measures

#### IC50 

* [Half maximal inhibitory concentration](https://en.wikipedia.org/wiki/IC50)
* Indicates how much of a particular drug or other substance is needed to inhibit a given biological process by half

[<img src="https://upload.wikimedia.org/wikipedia/commons/8/81/Example_IC50_curve_demonstrating_visually_how_IC50_is_derived.png" width="450" align="center" >](https://commons.wikimedia.org/wiki/File:Example_IC50_curve_demonstrating_visually_how_IC50_is_derived.png)

*Figure 2:* Visual demonstration of how to derive an IC50 value: Arrange data with inhibition on vertical axis and log(concentration) on horizontal axis; then identify max and min inhibition; then the IC50 is the concentration at which the curve passes through the 50% inhibition level.

#### pIC50

* To facilitate the comparison of IC50 values, we define pIC50 values on a logarithmic scale, such that <br />
    $ pIC_{50} = -log_{10}(IC_{50}) $ where $ IC_{50}$ is specified in units of M.
* Higher pIC50 values indicate exponentially greater potency of the drug
* pIC50 is given in terms of molar concentration (mol/L or M) <br />
    * IC50 should be specified in M to convert to pIC50  
    * For nM: $pIC_{50} = -log_{10}(IC_{50}*10^{-9})= 9-log_{10}(IC_{50}) $
    
Besides, IC50 and pIC50, other bioactivity measures are used, such as the equilibrium constant [KI](https://en.wikipedia.org/wiki/Equilibrium_constant) and the half maximal effective concentration  [EC50](https://en.wikipedia.org/wiki/EC50).

## Practical

In the following, we want to download all molecules that have been tested against our target of interest, the EGFR kinase.

### Connect to ChEMBL database

First, the ChEMBL webresource client as well as other python libraries are imported.

In [2]:
from chembl_webresource_client.new_client import new_client
import pandas as pd
import math
from rdkit.Chem import PandasTools

Create resource objects for API access.

In [3]:
targets = new_client.target
compounds = new_client.molecule
bioactivities = new_client.activity

## Target data

* Get UniProt-ID (http://www.uniprot.org/uniprot/P00533) of the target of interest (EGFR kinase) from UniProt website (https://www.uniprot.org/)
* Use UniProt-ID to get target information
* Select a different UniProt-ID if you are interested into another target

In [4]:
# uniprot_id = 'P00533'

uniprot_id = "P08246"

# Get target information from ChEMBL but restrict to specified values only
target_P00533 = targets.get(target_components__accession=uniprot_id) \
                       .only('target_chembl_id', 'organism', 'pref_name', 'target_type')
print(type(target_P00533))
pd.DataFrame.from_records(target_P00533)

<class 'chembl_webresource_client.query_set.QuerySet'>

       organism           pref_name target_chembl_id     target_type
0  Homo sapiens  Leukocyte elastase        CHEMBL248  SINGLE PROTEIN
1  Homo sapiens  Leukocyte elastase        CHEMBL248  SINGLE PROTEIN

### After checking the entries, we select the first entry as our target of interest
`CHEMBL203`: It is a single protein and represents the human Epidermal growth factor receptor (EGFR, also named erbB1)

In [5]:
target = target_P00533[0]
target

{'organism': 'Homo sapiens',
 'pref_name': 'Leukocyte elastase',
 'target_chembl_id': 'CHEMBL248',
 'target_type': 'SINGLE PROTEIN'}

Save selected ChEMBL-ID.

In [6]:
chembl_id = target['target_chembl_id']
chembl_id

'CHEMBL248'

### Bioactivity data

Now, we want to query bioactivity data for the target of interest.

#### Download and filter bioactivities for the target

In this step, we download and filter the bioactivity data and only consider

* human proteins
* bioactivity type IC50
* exact measurements (relation '=')    
* binding data (assay type 'B')

In [16]:
bioact = bioactivities.filter(target_chembl_id = chembl_id) \
                      .filter(type = 'IC50') \
                      .filter(relation = '=') \
                      .filter(assay_type = 'B') \
                      .only('activity_id','assay_chembl_id', 'assay_description', 'assay_type', \
                            'molecule_chembl_id', 'type', 'units', 'relation', 'value', \
                            'target_chembl_id', 'target_organism')
len(bioact), len(bioact[0]), type(bioact), type(bioact[0])

(1494, 11, chembl_webresource_client.query_set.QuerySet, dict)

If you experience difficulties to query the ChEMBL database, we provide here a file containing the results for the query in the previous cell (11 April 2019). We do this using the Python package pickle which serializes Python objects so they can be saved to a file, and loaded in a program again later on.
(Learn more about object serialization on [DataCamp](https://www.datacamp.com/community/tutorials/pickle-python-tutorial))

You can load the "pickled" compounds by uncommenting and running the next cell.

In [8]:
#import pickle
#bioact = pickle.load(open("../data/T1/EGFR_compounds_from_chembl_query_20190411.p", "rb"))

#### Clean and convert bioactivity data

The data is stored as a list of dictionaries

In [17]:
bioact[0]

{'activity_id': 35188,
 'assay_chembl_id': 'CHEMBL676202',
 'assay_description': 'The compound was evaluated for its inhibitory activity against human neutrophil elastase (HNE)',
 'assay_type': 'B',
 'molecule_chembl_id': 'CHEMBL543416',
 'relation': '=',
 'target_chembl_id': 'CHEMBL248',
 'target_organism': 'Homo sapiens',
 'type': 'IC50',
 'units': 'uM',
 'value': '0.011'}

Convert to pandas dataframe (this might take some minutes).

In [18]:
bioact_df = pd.DataFrame.from_records(bioact)
bioact_df.head(10)

,activity_id,assay_chembl_id,assay_description,assay_type,molecule_chembl_id,relation,target_chembl_id,target_organism,type,units,value
0,35188,CHEMBL676202,The compound was evaluated for its inhibitory ...,B,CHEMBL543416,=,CHEMBL248,Homo sapiens,IC50,uM,0.011
1,35188,CHEMBL676202,The compound was evaluated for its inhibitory ...,B,CHEMBL543416,=,CHEMBL248,Homo sapiens,IC50,uM,0.011
2,35192,CHEMBL676203,The compound was evaluated for its inhibitory ...,B,CHEMBL543416,=,CHEMBL248,Homo sapiens,IC50,uM,0.15
3,35193,CHEMBL752072,The compound was evaluated for its inhibitory ...,B,CHEMBL543416,=,CHEMBL248,Homo sapiens,IC50,uM,0.26
4,46161,CHEMBL675350,Compound was tested for its activity against h...,B,CHEMBL95813,=,CHEMBL248,Homo sapiens,IC50,uM,0.3
5,46174,CHEMBL675350,Compound was tested for its activity against h...,B,CHEMBL330647,=,CHEMBL248,Homo sapiens,IC50,uM,25.0
6,50141,CHEMBL675350,Compound was tested for its activity against h...,B,CHEMBL318052,=,CHEMBL248,Homo sapiens,IC50,uM,36.0
7,51352,CHEMBL675350,Compound was tested for its activity against h...,B,CHEMBL319173,=,CHEMBL248,Homo sapiens,IC50,uM,1.2
8,54831,CHEMBL676202,The compound was evaluated for its inhibitory ...,B,CHEMBL2368616,=,CHEMBL248,Homo sapiens,IC50,uM,0.022
9,54835,CHEMBL878396,The compound was evaluated for its inhibitory ...,B,CHEMBL2368616,=,CHEMBL248,Homo sapiens,IC50,uM,0.67

In [19]:
bioact_df.shape

(1495, 11)

Delete entries with missing values.

In [20]:
bioact_df = bioact_df.dropna(axis=0, how = 'any')
bioact_df.shape

(1491, 11)

Delete duplicates:
Sometimes the same molecule (`molecule_chembl_id`) has been tested more than once, in this case, we only keep the first one.

In [21]:
bioact_df = bioact_df.drop_duplicates('molecule_chembl_id', keep = 'first')
bioact_df.shape

(1400, 11)

We would like to only keep bioactivity data measured in molar units. The following print statements will help us to see what units are contained and to control what is kept after dropping some rows.

In [22]:
print(bioact_df.units.unique())
bioact_df = bioact_df.drop(bioact_df.index[~bioact_df.units.str.contains('M')])
print(bioact_df.units.unique())
bioact_df.shape

['uM' 'nM' 'M' 'mM' 'ug ml-1']
['uM' 'nM' 'M' 'mM']

(1398, 11)

Since we deleted some rows, but we want to iterate over the index later, we reset index to be continuous.

In [23]:
bioact_df = bioact_df.reset_index(drop=True) 
bioact_df.head()

,activity_id,assay_chembl_id,assay_description,assay_type,molecule_chembl_id,relation,target_chembl_id,target_organism,type,units,value
0,35188,CHEMBL676202,The compound was evaluated for its inhibitory ...,B,CHEMBL543416,=,CHEMBL248,Homo sapiens,IC50,uM,0.011
1,46161,CHEMBL675350,Compound was tested for its activity against h...,B,CHEMBL95813,=,CHEMBL248,Homo sapiens,IC50,uM,0.3
2,46174,CHEMBL675350,Compound was tested for its activity against h...,B,CHEMBL330647,=,CHEMBL248,Homo sapiens,IC50,uM,25.0
3,50141,CHEMBL675350,Compound was tested for its activity against h...,B,CHEMBL318052,=,CHEMBL248,Homo sapiens,IC50,uM,36.0
4,51352,CHEMBL675350,Compound was tested for its activity against h...,B,CHEMBL319173,=,CHEMBL248,Homo sapiens,IC50,uM,1.2

To allow further comparison of the IC50 values, we convert all units to nM. First, we write a helper function, which can be applied to the whole dataframe in the next step.

In [24]:
def convert_to_NM(unit, bioactivity):
#     c=0
# for i, unit in enumerate(bioact_df.units):
    if unit != "nM":        
        if unit == "pM":
            value = float(bioactivity)/1000
        elif unit == "10'-11M":
            value = float(bioactivity)/100
        elif unit == "10'-10M":
            value = float(bioactivity)/10
        elif unit == "10'-8M":
            value = float(bioactivity)*10
        elif unit == "10'-1microM" or unit == "10'-7M":
            value = float(bioactivity)*100
        elif unit == "uM" or unit == "/uM" or unit == "10'-6M":
            value = float(bioactivity)*1000
        elif unit == "10'1 uM":
            value = float(bioactivity)*10000
        elif unit == "10'2 uM":
            value = float(bioactivity)*100000
        elif unit == "mM":
            value = float(bioactivity)*1000000
        elif unit == "M":
            value = float(bioactivity)*1000000000
        else:
            print ('unit not recognized...', unit)
        return value
    else: return bioactivity

In [25]:
bioactivity_nM = []
for i, row in bioact_df.iterrows():
    bioact_nM = convert_to_NM(row['units'], row['value'])
    bioactivity_nM.append(bioact_nM)
bioact_df['value'] = bioactivity_nM
bioact_df['units'] = 'nM'
bioact_df.head()

,activity_id,assay_chembl_id,assay_description,assay_type,molecule_chembl_id,relation,target_chembl_id,target_organism,type,units,value
0,35188,CHEMBL676202,The compound was evaluated for its inhibitory ...,B,CHEMBL543416,=,CHEMBL248,Homo sapiens,IC50,nM,11
1,46161,CHEMBL675350,Compound was tested for its activity against h...,B,CHEMBL95813,=,CHEMBL248,Homo sapiens,IC50,nM,300
2,46174,CHEMBL675350,Compound was tested for its activity against h...,B,CHEMBL330647,=,CHEMBL248,Homo sapiens,IC50,nM,25000
3,50141,CHEMBL675350,Compound was tested for its activity against h...,B,CHEMBL318052,=,CHEMBL248,Homo sapiens,IC50,nM,36000
4,51352,CHEMBL675350,Compound was tested for its activity against h...,B,CHEMBL319173,=,CHEMBL248,Homo sapiens,IC50,nM,1200

### Compound data

We have a data frame containing all molecules tested (with the respective measure) against EGFR. Now, we want to get the molecules that are stored behind the respective ChEMBL IDs.

#### Get list of compounds

Let's have a look at the compounds from ChEMBL we have defined bioactivity data for. First, we retrieve ChEMBL ID and structures for the compounds with desired bioactivity data.

In [26]:
cmpd_id_list = list(bioact_df['molecule_chembl_id'])
compound_list = compounds.filter(molecule_chembl_id__in = cmpd_id_list) \
                         .only('molecule_chembl_id','molecule_structures')

Then, we convert the list to a pandas dataframe and delete duplicates (again, the pandas from_records function might take some time).

In [27]:
compound_df = pd.DataFrame.from_records(compound_list)
compound_df = compound_df.drop_duplicates('molecule_chembl_id', keep = 'first')
print(compound_df.shape)
print(bioact_df.shape)
compound_df.head()

(1398, 2)
(1398, 11)

  molecule_chembl_id                                molecule_structures
0           CHEMBL28  {'canonical_smiles': 'O=c1cc(-c2ccc(O)cc2)oc2c...
2         CHEMBL7424  {'canonical_smiles': 'CCCCCCCCCCCc1cc(O)cc(=O)...
3         CHEMBL7839  {'canonical_smiles': 'CCCCCCCCCCCC(=O)c1c(O)cc...
4           CHEMBL50  {'canonical_smiles': 'O=c1c(O)c(-c2ccc(O)c(O)c...
5         CHEMBL9702  {'canonical_smiles': 'CC(C)(C)C(=O)Oc1ccccc1C(...

So far, we have multiple different molecular structure representations. We only want to keep the canonical SMILES.

In [28]:
for i, cmpd in compound_df.iterrows():
    if compound_df.loc[i]['molecule_structures'] != None:
        compound_df.loc[i]['molecule_structures'] = cmpd['molecule_structures']['canonical_smiles']

print (compound_df.shape)

(1398, 2)

#### Prepare output data

Merge values of interest in one dataframe on ChEMBL-IDs:
* ChEMBL-IDs
* SMILES
* units
* IC50

In [29]:
output_df = pd.merge(bioact_df[['molecule_chembl_id','units','value']], compound_df, on='molecule_chembl_id')
print(output_df.shape)
output_df.head()

(1398, 4)

,molecule_chembl_id,units,value,molecule_structures
0,CHEMBL543416,nM,11,CC(C)[C@@H]1C(=O)N(S(C)(=O)=O)[C@@H]2CCN(C(=O)...
1,CHEMBL95813,nM,300,C=CC[C@@H]1C(=O)N(C(=O)NCc2ccncc2)[C@H]1Cc1ccccc1
2,CHEMBL330647,nM,25000,C[C@@H]1C(=O)N(C(=O)NCc2ccncc2)[C@H]1Cc1ccccc1
3,CHEMBL318052,nM,36000,C[C@H]1C(=O)N(C(=O)NCc2ccncc2)[C@H]1Cc1ccccc1
4,CHEMBL319173,nM,1200,CC[C@@H]1C(=O)N(C(=O)NCc2ccncc2)[C@H]1Cc1ccccc1

For distinct column names, we rename IC50 and SMILES columns.

In [30]:
output_df = output_df.rename(columns= {'molecule_structures':'smiles', 'value':'IC50'})
output_df.shape

(1398, 4)

If we do not have a SMILES representation of a compound, we can not further use it in the following talktorials. Therefore, we delete compounds without SMILES column.

In [31]:
output_df = output_df[~output_df['smiles'].isnull()]
print(output_df.shape)
output_df.head()

(1398, 4)

,molecule_chembl_id,units,IC50,smiles
0,CHEMBL543416,nM,11,CC(C)[C@@H]1C(=O)N(S(C)(=O)=O)[C@@H]2CCN(C(=O)...
1,CHEMBL95813,nM,300,C=CC[C@@H]1C(=O)N(C(=O)NCc2ccncc2)[C@H]1Cc1ccccc1
2,CHEMBL330647,nM,25000,C[C@@H]1C(=O)N(C(=O)NCc2ccncc2)[C@H]1Cc1ccccc1
3,CHEMBL318052,nM,36000,C[C@H]1C(=O)N(C(=O)NCc2ccncc2)[C@H]1Cc1ccccc1
4,CHEMBL319173,nM,1200,CC[C@@H]1C(=O)N(C(=O)NCc2ccncc2)[C@H]1Cc1ccccc1

In the next cell, you see that the low IC50 values are difficult to read. Therefore, we prefer to convert the IC50 values to pIC50.

In [32]:
output_df = output_df.reset_index(drop=True)
ic50 = output_df.IC50.astype(float) 
print(len(ic50))
print(ic50.head(10))

1398
0       11.0
1      300.0
2    25000.0
3    36000.0
4     1200.0
5       22.0
6       37.0
7       10.0
8     3000.0
9      900.0
Name: IC50, dtype: float64

In [33]:
# Convert IC50 to pIC50 and add pIC50 column:
pIC50 = pd.Series() 
i = 0
while i < len(output_df.IC50):
    value = 9 - math.log10(ic50[i]) # pIC50=-log10(IC50 mol/l) --> for nM: -log10(IC50*10**-9)= 9-log10(IC50)
    if value < 0:
        print("Negative pIC50 value at index"+str(i))
    pIC50.at[i] = value
    i += 1
    
output_df['pIC50'] = pIC50
output_df.head()

/apps/anaconda3/envs/teachmm/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

,molecule_chembl_id,units,IC50,smiles,pIC50
0,CHEMBL543416,nM,11,CC(C)[C@@H]1C(=O)N(S(C)(=O)=O)[C@@H]2CCN(C(=O)...,7.958607
1,CHEMBL95813,nM,300,C=CC[C@@H]1C(=O)N(C(=O)NCc2ccncc2)[C@H]1Cc1ccccc1,6.522879
2,CHEMBL330647,nM,25000,C[C@@H]1C(=O)N(C(=O)NCc2ccncc2)[C@H]1Cc1ccccc1,4.602060
3,CHEMBL318052,nM,36000,C[C@H]1C(=O)N(C(=O)NCc2ccncc2)[C@H]1Cc1ccccc1,4.443697
4,CHEMBL319173,nM,1200,CC[C@@H]1C(=O)N(C(=O)NCc2ccncc2)[C@H]1Cc1ccccc1,5.920819

### Collected bioactivity data for EGFR

Let's have a look at our collected data set.
#### Draw molecules
In the next steps, we add a molecule column to our datafame and look at the structures of the molecules with the highest pIC50 values.

In [34]:
PandasTools.AddMoleculeColumnToFrame(output_df, smilesCol='smiles')

Sort molecules by pIC50.

In [35]:
output_df.sort_values(by="pIC50", ascending=False, inplace=True)
output_df.reset_index(drop=True, inplace=True)

Show the most active molecules = molecules with the highest pIC50 values.

In [36]:
output_df.drop("smiles", axis=1).head()

  molecule_chembl_id units   IC50      pIC50  \
0      CHEMBL2367667    nM  0.036  10.443697
1      CHEMBL3617973    nM  0.065  10.187087
2       CHEMBL293138    nM    0.1  10.000000
3      CHEMBL3617966    nM   0.21   9.677781
4      CHEMBL3912018    nM    0.3   9.522879

                                               ROMol
0  <img data-content="rdkit/molecule" src="data:i...
1  <img data-content="rdkit/molecule" src="data:i...
2  <img data-content="rdkit/molecule" src="data:i...
3  <img data-content="rdkit/molecule" src="data:i...
4  <img data-content="rdkit/molecule" src="data:i...

#### Write output file
To use the data for the following talktorials, we save the data as csv file. Note that it is advisable to drop the molecule column (only contains an image of the molecules) when saving the data.

In [37]:
output_df.drop("ROMol", axis=1).to_csv("data/EGFR_compounds.csv")

## Discussion

In this tutorial, we collected all available bioactivity data for our target of interest from the ChEMBL database. We filtered the data set to only contain molecules with measured IC50 or pIC50 bioactivity values. 

Be aware that ChEMBL data originates from various sources. Compound data has been generated in different labs by different people all over the world. Therefore, we have to be cautious with the predictions we make using this dataset. It is always important to consider the source of the data and consistency of data production assays when interpreting the results and determining how much confidence we have in our predictions.

In the next tutorials we will filter our acquired data by the Lipinski rule of five and by unwanted substructures. Another important step would be to clean the data and remove duplicates. As this is not shown in any of our talktorials (yet), we would like to refer to the standardiser library ([github Francis Atkinson](https://github.com/flatkinson/standardiser)) or [MolVS](https://molvs.readthedocs.io/en/latest/) as possible tools for this task.

## Quiz

* We have downloaded in this talktorial molecules and bioactivity data from ChEMBL. What else is the ChEMBL database useful for?
* What is the difference between IC50 and EC50?
* What can we use the data extracted from ChEMBL for?